/*

  BASE 2 COSMOS EFFECT

*/

.card[data-rarity="base2 cosmos"] .card__shine {

  --imgsize: cover;

  background-image: 
    url("/img/cosmos-top-trans.png"),
    url("/img/cosmos-middle-trans.png"),
    url("/img/cosmos-bottom-trans.png"),
    url("/img/cosmos.png"),
    var(--glitter);

  background-size: 
    100% auto,
    100% auto,
    100% auto,
    100% auto,
    var(--glittersize) var(--glittersize);

  background-position: 
    center top,
    center center,
    center bottom,
    center center,
    center center;

  background-repeat: 
    no-repeat,
    no-repeat,
    no-repeat,
    no-repeat,
    repeat;

  background-blend-mode: 
    overlay,
    overlay,
    overlay,
    overlay,
    overlay;

  filter: brightness(calc((var(--pointer-from-center)*0.2) + 0.8)) contrast(1.2) saturate(1.1);
  opacity: calc(0.7 + (var(--pointer-from-center) * 0.3));

}

.card[data-rarity="base2 cosmos"] .card__shine:after {

  content: "";
  -webkit-mask-image: none !important;
  mask-image: none !important;

  background-image: 
    url("/img/cosmos-top.png"),
    url("/img/cosmos-middle.png"),
    url("/img/cosmos-bottom.png"),
    var(--glitter);

  background-size: 
    100% auto,
    100% auto,
    100% auto,
    var(--glittersize) var(--glittersize);

  background-position: 
    center top,
    center center,
    center bottom,
    center center;

  background-repeat: 
    no-repeat,
    no-repeat,
    no-repeat,
    repeat;

  background-blend-mode: 
    soft-light,
    soft-light,
    soft-light,
    overlay;

  filter: brightness(calc((var(--pointer-from-center)*0.3) + 0.7)) contrast(1.1) saturate(1.05);
  mix-blend-mode: color-dodge;
  opacity: calc(0.6 + (var(--pointer-from-center) * 0.4));

}

.card[data-rarity="base2 cosmos"] .card__shine:before {
  
  content: "";

  background-image: 
    url("/img/cosmos-middle.gif"),
    var(--foil);

  background-size: 
    100% auto,
    var(--imgsize);

  background-position: 
    center center,
    center center;

  filter: brightness(1.3) contrast(1.2);
  opacity: calc((var(--pointer-from-center) + 0.4) * 0.5);
  background-blend-mode: overlay;
  mix-blend-mode: soft-light;

}

/*

  GLARE LAYERS

*/

.card[data-rarity="base2 cosmos"] .card__glare {
	
	background-image: 
		radial-gradient( 
			farthest-corner circle at 
			var(--pointer-x) var(--pointer-y), 
			hsla(200, 30%, 90%, 0.8) 0%, 
			hsla(220, 25%, 40%, 0.6) 45%, 
			hsla(0, 0%, 0%, 1) 100% 
		);

	filter: brightness(1.1) contrast(1.5);
	opacity: calc( var(--card-opacity) * 0.8 );

}

/*

  NO MASK

*/

.card:not(.masked)[data-rarity="base2 cosmos"] .card__shine {

  --mask: none;
  --foil: none;
  --imgsize: 25% auto;

}
